* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main_discover {
    width: 100%;
}

h1 {
    text-transform: uppercase;
    color: #2e765e;
    font-weight: normal;
    font-size: 30pt;
    text-align: center;
    padding-top: 2rem;
}

.discover_cards {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main_discover h1 {
    font-size: 30pt;
    color: #2e765e;
    font-family: sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.main_discover img {
    max-width: 100%;
    display: block;
}

.discover_card1 {
    width: 300px;
    background: radial-gradient(#111 50%, #000 100%);
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    cursor: pointer;
}

.discover_card1 img {
    transform: scale(1.5);
    transition: all 0.3s ease-out;
}

.discover_card1:hover img {
    transform: scale(1.1) translateY(-20px);
    opacity: 0.3;
}

.description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 1rem;
    position: absolute;
    text-align: center;
    color: #CCE2D7;
}

.description h3 {
    font-weight: 700;
    font-size: 45px;
    margin: 0 0 20px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.5s;
}

.description a {
    color: #CCE2D7;
    border: 1px solid #CCE2D7;
    background-color: transparent;
    display: inline-block;
    padding: 10px 25px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0.5rem;
    transform: translateY(30px);
    opacity: 0;
    transition: 0.5s;
}

.description a:hover {
    background-color: #CCE2D7;
    color: #1b4739;
    border: 1px solid #CCE2D7;
}

.discover_card1:hover .description h3 {
    transform: translateY(0);
    opacity: 1;
}

.discover_card1:hover .description a {
    transform: translateY(0);
    opacity: 1;
}

.discover_card2 {
    width: 300px;
    background: radial-gradient(#111 50%, #000 100%);
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    cursor: pointer;
}

.discover_card2 img {
    transform: scale(1.5);
    transition: all 0.3s ease-out;
}

.discover_card2:hover img {
    transform: scale(1.1) translateY(-20px);
    opacity: 0.3;
}

.discover_card2:hover .description h3 {
    transform: translateY(0);
    opacity: 1;
}

.discover_card2:hover .description a {
    transform: translateY(0);
    opacity: 1;
}

.discover_card3 {
    width: 300px;
    background: radial-gradient(#111 50%, #000 100%);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 1rem;
}

.discover_card3 img {
    transform: scale(1.5);
    transition: all 0.3s ease-out;
}

.discover_card3:hover img {
    transform: scale(1.1) translateY(-20px);
    opacity: 0.3;
}

.discover_card3:hover .description h3 {
    transform: translateY(0);
    opacity: 1;
}

.discover_card3:hover .description a {
    transform: translateY(0);
    opacity: 1;
}

.discover_card4 {
    width: 300px;
    background: radial-gradient(#111 50%, #000 100%);
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    cursor: pointer;
}

.discover_card4 img {
    transform: scale(1.5);
    transition: all 0.3s ease-out;
}

.discover_card4:hover img {
    transform: scale(1.1) translateY(-20px);
    opacity: 0.3;
}

.discover_card4:hover .description h3 {
    transform: translateY(0);
    opacity: 1;
}

.discover_card4:hover .description a {
    transform: translateY(0);
    opacity: 1;
}

/* Setting footer properties for Discover page */
.footer_discover {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    font-size: small;
    color: black;
}

/* Media queries */
@media (max-width: 330px) {

    html {
        font-size: 55%;
    }

    .main_discover {
        padding:1rem 5%;
        padding-top: 8.5rem;
    }
}