* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25%;
}

.submitted h1 {
    font-size: 30pt;
    color: #2e765e;
    font-family: sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    justify-content: center;
    margin-bottom: 1rem;
}

.submitted a {
    text-decoration: none;
    font-size: 12pt;
    color:#1b4739;
    background: transparent;
    text-transform: uppercase;
}

.submitted button {
    padding: 1rem;
    width: 25%;
    border: 1px solid #2e765e;
    border-radius: 0.25rem;
    cursor: pointer;
}

.submitted button:hover {
    background-color: #CCE2D7;
    transition: 0.5s;
}